name: Universal AV1 Video Generator

on:
  workflow_dispatch:
    inputs:
      file_url:
        description: 'URL'
        required: true
      music_url:
        description: 'Audio URL'
        required: false
      img_duration:
        description: 'Duration'
        default: '2.5'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache FFmpeg
        id: cache-ffmpeg
        uses: actions/cache@v4
        with:
          path: ffmpeg-bin
          key: ${{ runner.os }}-ffmpeg-v2

      - name: Install FFmpeg
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        run: |
          mkdir -p ffmpeg-bin
          wget https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-linux64-gpl.tar.xz
          tar -xf ffmpeg-master-latest-linux64-gpl.tar.xz --strip-components=2 -C ffmpeg-bin
          
      - name: Setup Environment
        run: |
          echo "${{ github.workspace }}/ffmpeg-bin" >> $GITHUB_PATH
          sudo apt-get update && sudo apt-get install -y p7zip-full

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          # Use a single pip command to speed up resolution
          pip install pillow requests tqdm gallery-dl yt-dlp

      - name: Generate Video
        env:
          FILE_URL: ${{ inputs.file_url }}
          MUSIC_URL: ${{ inputs.music_url }}
          IMG_DURATION: ${{ inputs.img_duration }}
        run: python main.py

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: av1_result
          path: output/