name: Universal Media to AV1 MKV

on:
  workflow_dispatch:
    inputs:
      file_url:
        description: 'Direct Link (ZIP/RAR) OR Webpage URL'
        required: true
      filename:
        description: 'Output Name'
        required: false
      img_duration:
        description: 'Seconds per image (0.33 = 3 img/sec)'
        default: '0.33'
      crf:
        description: 'AV1 CRF (30-40)'
        default: '32'
      preset:
        description: 'SVT-AV1 Preset (6-10)'
        default: '8'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y ffmpeg p7zip-full wget mediainfo

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Python Libs
        run: pip install pillow requests numpy imageio imageio-ffmpeg tqdm beautifulsoup4 lxml

      - name: Scrape and Generate AV1
        id: process
        env:
          FILE_URL: ${{ inputs.file_url }}
          FILENAME: ${{ inputs.filename }}
          IMG_DURATION: ${{ inputs.img_duration }}
          CRF: ${{ inputs.crf }}
          PRESET: ${{ inputs.preset }}
        run: python main.py

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.process.outputs.final_name }}
          path: output/*.mkv